@model System.Collections.Generic.IEnumerable<WebApplication1.Areas.Admin.ViewModels.Tag.TagViewModel>

@{
    ViewBag.Title = "title";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>title</h2>
